#aboutSection p {
  margin: 0;
}

#aboutSection .section-one {
  padding: 0px 100px 80px 100px;

}

.about-container h3 {
  font-weight: 600;
  font-size: 4.5rem;
  text-transform: uppercase;
  white-space: nowrap;
}

.one h4 {
  font-weight: 600;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 3.2rem;
  letter-spacing: 1px;
  margin: 0;
}

.three {
  align-self: flex-start;
  justify-self: end;
}

.three img {
  width: 350px;
}

.four img {
  width: 460px;
  
}

.five {
  align-self: flex-end;
  justify-self: start;
}
.five img {
  width: 390px;
}

.six {
  align-self: flex-start;
  justify-self: start;
}


@media screen and (min-width:1024px) {
  .about-container__grid-one {
    grid-template-columns: 40px 1fr;
    transition: var(--transition);
    gap: 200px;
  }
}

.section-three {
  background-color: rgb(237, 241, 244);
  color: black;
  width: 100%;
  padding: 1px 50px 50px 50px;
}

.section-three li {
  padding: 15px 0;
  list-style: none;
  border-bottom: .5px solid gray;
}

.section-three ul {
  padding: 0;
}

.section-three h4 {
  font-weight: 500;
  font-size: 2.5rem;
}

@media screen and (max-width: 450px) {
  #aboutSection .section-one {
    padding: 0px 20px 50px 20px;
    font-size: 1.2rem;

  }

  .about-container h3 {

    font-size: 3.5rem;

  }

  .one h4 {
    font-size: 2rem;

  }

  .section-three {
    padding: 1px 20px 50px 20px;
    font-size: 1.2rem;
  }
}

.testimonial {
  font-size: 1.4rem;
  padding: 1rem;
}

.testimonial img {
  width: 40rem;
}

.testimonial:nth-child(1) {
  grid-area: one;
}
.testimonial:nth-child(2) {
  grid-area: two;
}
.testimonial:nth-child(3) {
  grid-area: three;
}
.testimonial:nth-child(4) {
  grid-area: four;
}
.testimonial:nth-child(5) {
  grid-area: five;
}
.testimonial:nth-child(6) {
  grid-area: six;
}

.testimonial-grid {
  display: grid;
  gap: 1rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
   'one'
   'two'
   'three'
   'four'
   'five'
   'six';
  background-color: rgb(237, 241, 244);
color: black;
padding: 100px;}

@media screen and (min-width: 450px) {
  .testimonial-grid {
    grid-template-areas:
     'one two'
     'one two'
     'three five'
     'three four'
     'six four'
  }
}



@media screen and (max-width: 450px) {
  .testimonial {
    font-size: 1.2rem;

    margin: 0;
  }

  .testimonial-grid {
    grid-template-areas:
      'one one'
      'two two'
      'three five'
      'three four'
      'six six';
    padding: 10px;
    gap: 0;
  }

  .testimonial img {
    width: 18rem;
  }

  .testimonial h4 {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }

  #aboutSection .section-one {
    padding: 0px 20px 50px 20px;
    font-size: 1.2rem;

  }

  .about-container h3 {

    font-size: 3.5rem;

  }

  .one h4 {
    font-size: 2rem;

  }

  .section-three {
    padding: 1px 20px 50px 20px;
    font-size: 1.2rem;
  }
}


@media screen and (max-width: 330px) {

  .testimonial img {
    width: 13rem;
  }

}


@media screen and (max-width: 380px) {

  .testimonial img {
    width: 16rem;
  }

}