@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500;600;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-bg: black;
  --color-body: #fafffa;
  --color-headings:white;
  --color-primary: #00e3bb;
  --color-secondary: #1a5754;
  --transition: all 600ms ease;
}

/* Typography */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-body);
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: .1rem;
  overflow-x: hidden;
  margin: 0;
}

h1,
h2
{
  color: var(--color-headings);
  margin-bottom: 8rem;
}

h1 {
  font-size: 4rem;
  letter-spacing: 1rem;
  

}

h2 {
  font-size: 3.8rem;
  font-weight: 300;
  letter-spacing: .2rem;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  line-height: 4.2rem;
  
}

h3 {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 2rem;
}




.first-paragraph {
  border-left: 1px solid var(--color-primary);
  padding-left: 2rem;
}

@media screen and (max-width: 450px) {
h1 {
  font-size: 2.3rem;
  letter-spacing: .7rem;
}

h2{
  font-size: 2rem;
  line-height: 2.2rem;
  margin-bottom: 5rem;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
h4 {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
}

/* Links */

a {
  text-decoration: none;
  color: var(--color-body);
  transition: var(--transition);
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 2.7px;
  padding: .5rem;
}

@media screen and (max-width: 450px) {
  a {
    font-size: 1.2rem;
    letter-spacing: .5rem;
  }
  }
/* Lists */

.list {
  list-style: none;
  padding-left: 0;
}

.list__item {
  transition: var(--transition);
}

.list__item:hover {
  border-bottom: .5px solid white;
  transform: scale(1.2);
}

/* Icons */

.icon {
  width: 50px;
  height: 50px;
}

.icon--primary {
  fill: var(--color-secondary)
}

/* Button */

.btn {
  font-weight: 600;
  border: 0;
  padding: 0.75rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: var(--transition);
  white-space: nowrap;
  margin: 2rem 0;
}

.btn:hover {
color: white;
}

.btn--primary {
  background: var(--color-secondary);
  color: white;
  padding: 1.5rem;
  font-weight: 400;
  border-radius: .5rem;
  cursor: pointer;
  margin-top: 3rem;
  letter-spacing: 5px;
  
}

.btn--primary:hover {
  opacity: .8;
  filter: brightness(2);
}

.btn--secondary {
  color: var(--color-primary);
  font-weight: 600;
  cursor: pointer;
  margin-top: 3rem;
  letter-spacing: 5px;
  background: var(--color-bg);
  font-size: 4rem;
}

@media screen and (min-width: 1024px) {
  .btn { 
    font-size: 1.5rem;
  }
}

/* Inputs */

textarea,
input {
  padding: 1.5rem;
  border: 1px solid var(--color-secondary);
  border-radius: .3rem;
  outline: 0;
  color: white;
  background: transparent;
  resize: none;
  letter-spacing: 3px;
  font-weight: 100;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
    transition: var(--transition);

  }
}

/* Grids */

.grid {
  display: grid;
  transition: var(--transition);
  
}

@media screen and (min-width:1024px) {
  .grid--1x2 {
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    transition: var(--transition);
  }

}

/* Containers */

.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media screen and (max-width: 450px) {
  .container  {
    max-width: 400px;

  }
  }

  @media screen and (max-width: 890px) {
    .container  {
      max-width: 750px;
  
    }
    }
