.scrollTop {
  position: fixed;
  bottom: 30px;
  right: 20px;
  width: 80px;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
  color: var(--color-primary);
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

.scrollTopBlack {
  position: fixed;
  bottom: 30px;
  right: 20px;
  width: 80px;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

@media screen and (max-width:450px) {

  .scrollTop {
    bottom:
    20px;
    right: 0px;
    width: 70px;
  }
}