/* Logo */

.logo img {
  height: 7rem;
  display: block;
  transition: var(--transition);
}

.logo img:hover {
  transform: scale(1.05);
}


@media screen and (max-width: 450px) {
  .logo img {
    height: 5.5rem;
  }
}

/* Navigation */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  width: 100%;
  z-index: 99;
  padding: 15px 30px 15px 15px;

}

.nav--bg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  width: 100%;
  z-index: 99;
  top: 0;
  background: hsl(0 0% 100% /0.1);
  backdrop-filter: blur(3rem);
  transition: var(--transition);
  background-color: black;
  padding: 15px 30px 15px 15px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  list-style: none;
  text-align: left;
  margin: 0;
  gap: 50px;
}


/* Toggle Menu */

.toggle-button,
.toggle-button--close {
  display: none;
  transition: var(--transition);
}


.bar--first,
.bar--third {
  height: 2px;
  width: 100%;
  border-radius: 20px;
  background-color: white;
  transition: all 1s ease;
}

.bar--second {
  height: 2px;
  width: 70%;
  border-radius: 20px;
  background-color: white;
  transition: all 1s ease;
}

/* Media */

@media (max-width: 1024px) {

  .toggle-button {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 40px;
    align-items: flex-end;
    z-index: 9999;
    right:1rem;
  }

  .toggle-button--close {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 40px;
    z-index: 9999;
    right:1rem;
  }

  .toggle-button--close .bar--second {
    display: none;
  }

  .toggle-button--close .bar--first {
    transform: rotate(45deg) translate(15px, 15px);
    transition: all 1s ease;
  }

  .toggle-button--close .bar--third {
    transform: rotate(-45deg) translate(10px, -10px);
    transition: all 1s ease;
  }


  button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
  }

  .nav--bg {
    backdrop-filter: none;
    background-color: var(--color-bg);
  }


  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -100%;
    opacity: 1;
    transition: var(--transition);

  }

  .nav-menu.active {
    right: 0;
    opacity: 1;
    z-index: 999;
    padding-top: 150px;
    grid-gap: 70px;
    background: black;
    backdrop-filter: blur(3rem);
  }

  .list__item {
    margin-right: 100px;
  }
}

@media screen and (max-width: 450px) {
  .toggle-button {
    width: 45px;
    height: 35px;
  
  }

  .toggle-button--close {
    width: 45px;
    height: 35px;
  
  }

  .toggle-button--close .bar--first {
    transform: rotate(45deg) translate(11px, 12px);
  }


  .nav-menu.active {
    grid-gap: 30px;
    padding: 120px 0 0 30px;
  }

  .nav-menu {
    width: 75%;
  }

}